.card{

    position: relative;

    max-width: 100%;
    overflow: hidden;
 
  }
  
  .middle {
    position: absolute;
    right: 0;
  }
.card-title:hover{
    color: brown;
}
  .btn i {
    transition: transform 0.3s ease;
  }
  
  .btn.active i {
    transform: scale(1.2);
  }